.header {
    height: 30vh;
    width: 100%;
    background: transparent;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__float {
        border: 1px solid $color-border;
        border-radius: 1rem;
        padding: .5rem;
        color: $color-white;
        background: $color-dark-beige;
        letter-spacing: 1px;
    }
    &__cart {
        border: 1px solid $color-beige;
        border-radius: 1rem;
        padding: .5rem;
        color: $color-white;
        background: $color-beige;
        display: flex;
        justify-content: space-between;
        width: 8rem;
        position: relative;
        text-align: right;

        &--circle{
            background: $color-white;
        }

    }
    &__lang{
        color: $color-white;
    }

    &__left{
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__right{
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    
}