
/*=============================================
=            BANNER            =
=============================================*/

.section-banner {
    position: relative;
    &__txt {
        position: absolute;
        top: 50%;
        left: 5rem;
        width: 30%;
        color: $color-white;
        font-size: 3rem;
    }
    img {
        width: 100%;
    }
    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.left-polygon {
    background-image: linear-gradient(to bottom, black -5%, transparent);
    clip-path: polygon(0 0, 28% 0, 70% 100%, 0% 100%);
    height: 100%;
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.right-polygon {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    height: 80%;
    width: 30%;
    position: absolute;
    bottom: 5px;
    right: 0;
}

/*=====  End of BANNER  ======*/


/*=============================================
=            Slide Menu            =
=============================================*/

.slide--menu {

    height: 0vh;
    overflow: hidden;
    backface-visibility: hidden;
    transition: 1s all;
    background: $color-dark-beige;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
    -webkit-backface-visibility: hidden;

    &_title{

        text-align: center;

        h2:nth-child(1) { color: $color-semi-white; }
        h2:nth-child(2) { color: $color-orangy; }
    }
    &_wrapper{
        display:  flex;
        justify-content:  space-around;

        & li{
            width: 20%;
        }
    }
    &_left{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 16vh;
    }
    &_center{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 16vh;
    }
    &_center{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 16vh;
    }
}


/*=====  End of Slide Menu  ======*/



/*=============================================
=            Bottles            =
=============================================*/

.section-bottles{
    background: #24292F;
    padding: 4rem;
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    &_logo{
        position: absolute;
        width: 35%;
        right: 50%;
        transform: translate(50%);
    }
}

.slide-bottle{

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;

    &_desc{
        width: 30%;
        &-year{
            color: $color-white;
            background: $color-beige;
            font-size: 1.5rem;
            width: 17%;
            text-align: center;
        }
        &-title{
            color: $color-white;
            font-size: 1.5rem;
        }
        &-owner{
            color: $color-white;
            font-size: 1rem;
            padding-bottom: 1rem;
        }
        &-price{
            color: $color-white;
            font-size: 1.5rem;
            padding-bottom: 2rem;
        }
    }
    &_txt{
        width: 30%;
        text-align: center;
        font-size: 1.5rem;
        h2:nth-child(1) { color: $color-semi-white; }
        h2:nth-child(2) { color: $color-beige; }

    }
    &_img img{
        width: 75%
    }
    &_img{
        width: 30%;
        text-align: center;
    }
}

.slide-growers{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    &_item{

        border-radius: 50%;
        background: white;
        opacity: .5;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 150px;
            border-radius: 50%;
        }
    }
}

/*=====  End of Bottles  ======*/




/*=============================================
=            GridBox            =
=============================================*/


.section-boxgrid{
    
    .grid-container {
       display: flex;
       padding: 5rem 0;
    }
    .left__img{
        width: 50%;
        display: flex;
        align-items: center;
        padding: 5rem 0;
        position: relative;

        &-txt{
            left: 40%;
            top: 50%;
            transform: translate(-40%,-50%);
            position: absolute;
            text-align: center;

            h2:nth-child(1) {     
                background: #24292f;
                color: white;
                padding: 0 1rem;
                width: 10vw;
                font-size: 2rem;
            }
            h2:nth-child(2) {     
                background: $color-beige;
                color: white;
                padding: 0 1rem;
                width: 8vw;
                margin: auto; 
                font-size: 2rem;
            }
        }

        & img{
            width: 80%;
        }  
    }
    .right-wrapper{
        display: flex;
        flex-direction: column;
        width: 50%;
        &_upper{
            width: 50%;
            padding-bottom: 4rem;
        }
        &_lower{
            width: 100%;
        }
    }
     
}

/*=====  End of GridBox  ======*/



.btn--primary {   
	position: relative;
    width: 118px;
    border: 1px solid $color-beige;
    color: $color-beige;
    padding: 1rem;
    text-transform: uppercase;
    }
.btn--primary::after{
    content: "\2014";
    position: absolute;
    right: -18px;
    height: 10px;
    bottom: 0;
    top: 9px;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    background-color: #24292f;
    padding-bottom: 2px;
    }

// @include respond(tab-port) {
//         padding: 10rem 0;
//     }
